

<p id="notice"><%= notice %></p>

<h1>Google Maps</h1> 

<div class="col-md-12" id="map-container">
  <div class="col-md-12" id="map-canvas">
  
  </div>
</div> 

<h1>Vehicles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Patent</th>
      <th>Model vh</th>
      <th>Picture vh</th>
      <th>Color marker</th>
      <th>Status vh</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td><%= vehicle.name %></td>
        <td><%= vehicle.patent %></td>
        <td><%= vehicle.model_vh %></td>
        <td><%= vehicle.picture_vh %></td>
        <td><%= vehicle.color_marker %></td>
        <td><%= vehicle.status_vh %></td>
        <td><%= link_to 'Show', vehicle %></td>
        <td><%= link_to 'Edit', edit_vehicle_path(vehicle) %></td>
        <td><%= link_to 'Destroy', vehicle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vehicle', new_vehicle_path %>
