<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vehicle.name %>
</p>

<p>
  <strong>Patent:</strong>
  <%= @vehicle.patent %>
</p>

<p>
  <strong>Model vh:</strong>
  <%= @vehicle.model_vh %>
</p>

<p>
  <strong>Picture vh:</strong>
  <%= @vehicle.picture_vh %>
</p>

<p>
  <strong>Color marker:</strong>
  <%= @vehicle.color_marker %>
</p>

<p>
  <strong>Status vh:</strong>
  <%= @vehicle.status_vh %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
